
.formFlex{
  display: flex;
  justify-content: space-between;
}
header input{
  width: 100%;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  border: 1px solid #b9b9b9;
  height: 35px;
  padding-left: 10px;
}
.headerP{
  color: red;
  padding-left: 10px;
  margin: 10px 0px;
}